openapi: 3.1.0
info:
  title: OXYMAS - Webhook para Instrucciones e Informes
  version: 1.2.0

security:
  - BearerAuth: []

servers:
  - url: https://api.oxymas.com/api

paths:
  /:
    post:
      summary: Procesar mensajes desde OXYMAS (consultas o instrucciones)
      operationId: recibirMensajeOxymas
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsultaOxymas'
      responses:
        "200":
          description: Respuesta procesada correctamente.
        "500":
          description: Error interno del servidor.

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

  schemas:
    ConsultaOxymas:
      type: object
      properties:
        mensaje:
          type: string
          description: Pregunta o instrucción del usuario.
          example: "¿Quién tiene el cilindro 1140?"
        cilindro:
          type: string
          description: Número de cilindro si aplica
          example: "1140"
        instruction:
          type: string
          description: Texto libre para registrar llegada o entrega
          example: "Registra que llegamos al hospital de Surco"
        action:
          type: string
          description: Tipo de acción a ejecutar
          enum:
            - Guardar instrucción
            - Guardar informe
            - Consultar informe
          example: "Consultar informe"
      required:
        - mensaje
        - action
